<h3>Edit WishList game</h3>
<div class="row">
    <form action="/games/{{game._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{game.title}}">
                <label for="title">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="genre" name="genre"value="{{game.genre}}">
                <label for="genre">Genre</label>
            </div>
        </div>
        {{!-- <div class="row">
            <div class="input-field">
                <input type="text" id="releaseDate" name="releaseDate">
                <label for="releaseDate">Release Date</label>
            </div>
        </div> --}}
        <div class="row">
            <label for="releaseDate">Release Date</label>
            <input type="date" id="releaseDate" name="releaseDate"value="{{game.releaseDate}}">
            
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn" onclick="fetchBoxArt()">
            <script>function fetchBoxArt(){
                   {{game.image}}
                }
            </script>
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>